<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\Coding\Github\JAVAFX\UI\settings\settings.jar</jar>
  <outfile>E:\Coding\Github\JAVAFX\UI\settings\settings.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path &quot;C:\java-libraries\javafx-sdk-17.0.11\lib&quot; --add-modules javafx.controls,javafx.fxml,com.jfoenix</opt>
  </jre>
</launch4jConfig>